.Main{
    background-color: aqua;
}




h2{
    font-family: 'Shrikhand', cursive;
    font-size: 60px;
    font-weight: 500;
    letter-spacing: 5px;
    position: relative;
    animation: text 3s 1;
    margin-bottom: -20px;
};

h2 span{    
    color: rgb(7, 197, 245)!important;
    letter-spacing: 5px;
    margin-left: 2px;
    animation: text 3s 1;
    margin-bottom: -20px;

}
.text2{
    
    font-size:25px;
    font-weight: 250;
    animation: text 3s 1;
}

@keyframes text{
    0%{
        color: transparent;
        margin-bottom: -20px;
    }
    30%{
        letter-spacing: 7px;
        margin-bottom: -20px;
    }
    80%{
        letter-spacing: 5px;
        margin-bottom: -20px;
    }
}
.welcome{
    background-color:  rgba(24, 156, 179, 0);
     text-align: center;
     position: absolute;
     top: 40%;
     left: 50%;
     transform: translate(-50%,-50%);
     width: 120%;
 }
 button{
    background-color: transparent;
    border: dotted;
    border-color: rgba(24, 156, 179);
    
}
button svg{
    color: rgba(24, 156, 179);
}
.dropdown{
    position: relative;
    display: inline-block;
}   

.dropdown-content {
    display: none;
    position: relative;
    background-color: transparent;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    text-align: center;
    color: rgba(24, 156, 179);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

.dropdown-content a:hover {background-color:  rgba(24, 156, 179, 0.233)}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color:  rgba(24, 156, 179, 0.233);}